// starrating
$starrating-font-size: clamp(1.45rem, calc(1.45rem + .66vw), 2rem) !default;
$starrating-color: #ffb100 !default;
$starrating-focus-box-shadow: 0 0 0 var(--ui-focus-ring-width) var(--ui-focus-ring-color) !default;
$starrating-disabled-opacity: var(--ui-disabled-opacity) !default;

$starrating-xl-font-size: clamp(1.65rem, calc(1.65rem + 1.32vw), 3rem) !default;
$starrating-lg-font-size: clamp(1.55rem, calc(1.55rem + .99vw), 2.5rem) !default;
$starrating-sm-font-size: clamp(1.35rem, calc(1.35rem + .33vw), 1.5rem) !default;
$starrating-xs-font-size: 1rem !default;
